@import '../../settings/variables';
@import '../../mixins/mixins';

$button-normal: $blue60;
$button-hover: $blue40;
$button-click: $blue80;
$button-disabled: $grey20;

.button--primary,
.button--secondary {
    cursor: pointer;
    line-height: 18px;
    border: 1px solid $button-normal;
    border-radius: 50%;
    font-family: inherit;
    font-size: 15px;
    margin-right: 8px;

    &:hover,
    &:focus {
        border-color: $button-hover;
    }

    &:focus {
        outline: none;
    }

    &:active {
        border-color: $button-click;
    }

    &:disabled {
        border-color: $button-disabled;
        background-color: $button-disabled;
        color: $white;
        cursor: default;
    }
}

.button--primary {
    color: $white;
    background-color: $button-normal;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        background-color: $button-hover;
    }
    &:active:not(:disabled) {
        background-color: $button-click;
    }
}

.button--secondary {
    background-color: $white;
    color: $button-normal;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        color: $button-hover;
    }
    &:active:not(:disabled) {
        color: $button-click;
    }
}
